/*----------------------- */
/* basic setup */
/*----------------------- */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden; 
}
.clearfix {
  zoom: 1;
}
.clearfix {
  content: '.';
  clear: both;
  height: 0;
  display: block;
  visibility: visible;
}
/*----------------------- */
/*resuable components */
/*----------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0;
}
.box {
  padding: 1%;
}
/*----------------------- */
/* headings */
/*----------------------- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: ' ';
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/* ------------paragraph-------------- */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}
/* ------------icons------------ */
.icon-big {
  font-size: 345%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}
.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}
/*----------------------- */
/* links */
/*----------------------- */
a:link,
a:visited {
 color: #e67e22;
 text-decoration: none;
 border-bottom: 1px solid #e67e22;
 padding-bottom: 1px;
 -webkit-transition: border-bottom 0.2s, color 0.2s;
 transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}
/*----------------------- */
/* buttons */
/*----------------------- */
.btn:link,
.btn:visited,
input[type = submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #e67e22;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type = submit]  {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:link {
  border: 1px solid #e67e22;
  color: #e67e22;
}
.btn:hover,
.btn:active,
input[type = submit]:hover,
input[type = submit]:active   {
  background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active,
 {
  border: 1px solid #cf6d17;
}
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}
/*----------------------- */
/* header */
/*----------------------- */
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),
    url(img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logo
{
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
  margin : 5px 0;
}

/* Main nav */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}
/* Mobile nav */
.mobile-nav {
  float : right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}
.mobile-nav i {
  font-size: 200%;
  color : white;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  padding: 8px 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.25s;
  transition: border-bottom 0.25s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
/* Sticky nav*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98); 
  -webkit-box-shadow: 0 2px 0px #efefef; 
          box-shadow: 0 2px 0px #efefef;
  z-index: 9999;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  color: #555;
  padding: 16px 0px;
}
.sticky .logo {display: none;}
.sticky .logo-black {display: block;}
.sticky  .main-nav {margin-top: 20px;}
/*----------------------- */
/* features */
/*----------------------- */
.section-features .long-copy {
  margin-bottom: 30px;
}

/*----------------------- */
/* Meals */
/*----------------------- */
.section-meals {
  padding: 0;
}
.meals-showcase {
  list-style: none;
  width: 100%;
}
.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}
.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}
.meal-photo img {
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity 0.5s , -webkit-transform 0.5s;
  transition: opacity 0.5s , -webkit-transform 0.5s;
  transition: transform 0.5s , opacity 0.5s;
  transition: transform 0.5s , opacity 0.5s , -webkit-transform 0.5s;;
  opacity: 0.7;
}
.meal-photo img:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    opacity: 1;
}
/*----------------------- */
/* how it works */
/*----------------------- */
.section-steps {
  background-color: rgba(245, 240, 240, 0.658)
}
.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}
.steps-box:last-child {
  text-align: left;
  padding-left: 3%;
  margin-top: 70px;
}
.app-screen {
  width: 50%;
}
.works-step {
  margin-bottom: 50px;
}
.works-step:last-of-type() {
  margin-bottom: 80px;
}
.works-step div {
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 5px;
  text-align: center;
  float: left;
  display: block;
  font-size: 150%;
  margin-left: 35px;
}
.btn-app:link,
.btn-app:visited {
  border: none;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
/*----------------------- */
/* Cities */
/*----------------------- */
.box img {
  width: 100%;
  height: auto;
  margin-bottom:15px; 
  padding: 1px;
}
.city-feature {
  margin-bottom: 5px;
}
/*----------------------- */
/* Testimonial */
/*----------------------- */
.section-testimonials {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/back-customers.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}
blockquote:before {
  content:"\201C";
  display: block;
  font-size: 500%;
  position: absolute;
  top: -5px;
  left: -5px;
}
blockquote {
  padding: 2%;
  font-style: italic;
  position: relative;
  line-height: 145%;
  margin-top: 40px;
}
cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}
cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}
/*----------------------- */
/* SignUp */
/*----------------------- */
.section-plans {
  background-color: #f4f4f4;
}
.plan-box {
  background-color:#fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 0 2px 2px  #efefef;
          box-shadow: 0 2px 2px  #efefef;
}
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.plan-box div:last-child {
  text-align: center;
  border: none;
}
.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
  color: #e67e22;
}
.plan-price-meal {
  font-size: 80%;
}
.plan-price span {
  font-size: 30%;
  font-weight: 300;
}
.plan-box ul {
  list-style: none;
}
.plan-box ul li {
  padding: 5px 0;
}
/*----------------------- */
/* Form */
/*----------------------- */
.contact-form {
  width: 90%;
  margin : 0 auto;
}
input[type = text],
input[type = email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 10px;
  border : 2px solid #cccccc;
}
textarea {
  height: 100px;
} 
input[type = checkbox] {
  margin : 10px 5px 10px 0; 
}
*:focus {
  outline: none;
}
.map-box {
  width: 100%;
  height: 560px;
  position: relative;
}
.map {
  width: 100%;
  height: 560px;
  z-index: 0;
  position: relative;
}
.form-box {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
  height: 560px;
  padding-top: 40px;
}
/*----------------------- */
/* Footer */
/*----------------------- */
footer {
  background-color: #333;
  padding: 40px;
  font-size: 80%;
}
.footer-nav {
  list-style: none;
  float: left;
}
.social-links {
  list-style: none;
  float: right;
} 
.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
  margin: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active {
  color: #dddddd;
}
footer p {
  color: #888;
  text-align: center;
  margin-top: 10px;
}
.ion-logo-facebook:hover {
  color: #3b5998;
}
.ion-logo-twitter:hover {
  color: #55acee;
}
.ion-logo-instagram:hover{
  color: #517fa4;
}
.ion-logo-googleplus:hover{
  color: #dc4e41;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 280%;
}
.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-instagram,
.ion-logo-googleplus {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 150%;
}
/*----------------------- */
/* Animation */
/*----------------------- */
.js-wp-1,
.js-wp-2,
.js-wp-3,
 {
  opacity: 0;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.js-wp-4 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.js-wp-1.animated,
.js-wp-2.animated,
.js-wp-3.animated {
  opacity: 1;
}
